@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/* EMOJI OVERRIDES */
/* Important is being used to override lib css */
.chat-container__panel .emojionearea.focused {
  border-color: #CCC !important;
  box-shadow: none !important;
}

/* ============== SIDER BAR ============== */
.chat-container {
  display: flex;
}

.chat-container__sidebar .material-icons:hover {
  background: #857e7e99;
}

.chat-container__sidebar .material-icons {
  color: #fff;
  padding: 10px;
  background: #0009;
  border-radius: 3px;
  margin-bottom: 20px;
}

.chat-container__sidebar {
  background: #39446e;
  height: 100vh;
}

.chat-container__list .mdl-list {
  overflow-y: scroll;
  height: calc(100vh - 238px);
}

.chat-container__list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 250px;
}

.is_encrypted.chat-container__list {
  background-color: yellow;
}

/* USER LIST */
.chat-container__list .mdl-list__item-icon:focus {
  outline: none;
}

/* Important is being used to override lib css */
.chat-container__list .mdl-list__item-icon {
  margin-right: 5px !important;
  font-size: 20px !important;
  color: #23e429 !important;
}

.chat-container__list .mdl-list__item {
  padding: 0;
}

.chat-container__list .mdl-list__item-primary-content {
  font-size: 14px;
}

/* CHAT PANEL*/
.message-container {
  display: flex;
}

.message-user-avatar img {
  width: 100%;
}

.message-user-avatar {
  width: 60px;
}

.message-user-avatar.me {
  margin-left: 14px;
}

.message-user-avatar.other {
  margin-right: 14px;
}

.image-placeholder {
  height: 50px;
  width: 50px;
  background: #000;
}

panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: #F8F8FF;
}

.chat-container__panel .chat-message {
  padding: 14px;
}

.chat-container__panel {
  width: 100%;
}

#message-to-send {
  width: 100%;
  height: 200px;
  background: #f5eaea;
}

.chat-history {
  overflow-y: scroll;
}

.chat-history li {
  padding: 16px 0px;
}

.chat-history ul {
  list-style: none;
}

.fa.fa-circle.online {
  color: #23e429;
}


.message-data-name {
  font-weight: bold;
}

.chat-history.is-encrypted.message-container.message-data.message-data-name {
  color: white;
}

#logtime {
  color: grey;
  font-weight: normal;
  padding-left: 6px;
}

.message {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
}

/* Disabled overlay */
.is-disabled-overlay {
  position: relative;
}

.is-disabled-overlay:after {
  content: attr(data-error);
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ffdede;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  right: 0;
  left: 0;
}

.head {
  text-align: center;
}

.head .mdl-card {
  width: 512px;
}

.head .mdl-card__title {
  color: #fff;
  height: 176px;
  background: #000 center / cover;
}

.head .mdl-card__menu {
  color: #fff;
}

.mdl-js-textfield label {
  margin-bottom: 0;
}

.room_creation {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.navbar {
  height: 100vh;
  border-radius: 0 !important;
  align-items: start !important;
}

#colorLabel {
  font-weight: bold;
  font-size: 120%;
  padding-left: 10px;
}

.rooms-settings__color {
  padding-top: 15px;
  /*background-color: blue;*/
}

.room_title {
  padding-top: 26px;
  font-size: 24px;
  text-align: center;
}

.room_box {
  text-align: center;
  width:512px;
  margin:20px;
  padding: 15px;
  background-color: #EAECEE;
}

.room_container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    /*display:inline;*/
    /*justify-content: space-around;*/
}

.room_item {
    /*order: 0;*/
    flex-grow:1;
    border-radius: 3px;
    background-color: #0009;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}

.room_item:hover {
  color:white;
  background-color: #5DADE2;
  text-decoration: none;
}

.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: 0;
}

.mdl-textfield--file .mdl-button--file {
  right: 0;
}

.mdl-textfield--file .mdl-button {
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .25), 0 1px 1px 0 rgba(0, 0, 0, .41);
  height: 42px;
  width: 42px;
  background: #39446e;
}

.mdl-textfield--file .material-icons {
  color: #fff;
}

.mdl-textfield--file {
  position: absolute;
  right: 7px;
  z-index: +1;
  bottom: 4px;
}

.mdl-textfield__input {
  border-bottom: none !important;
}

.chat-history li .my-message {
  background: #e4e4e4;
  color: #000;
}

.chat-history li.is-current-user-message .my-message {
  background: #66CDAA;
  color: #fff;
}

.chat-history li.is-current-user-message {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

#progress-file {
  width: 100%;
  display: none;
}
